/* FOOTER */
.footer {
    background-color: #111;
    color: white;
    padding: 40px;
}

/* GRID DEL FOOTER */
.footer-contenido {
    display: grid;

    /* mínimo dos columnas (usamos 3) */
    grid-template-columns: repeat(3, 1fr);

    gap: 30px;
}

/* Títulos */
.footer h3 {
    margin-bottom: 15px;
}

/* Links redes */
.footer a {
    text-decoration: none;
    color: #00c3ff;
}

.footer a:hover {
    text-decoration: underline;
}